[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  NETLIFY_AUTH_TOKEN = "nfp_4HKBTijfETKDpSXC5yuqbj3TZjjvNLPr8e89"
  POLLINATIONS_API_KEY = "sk_aRMDlzZq5H1go5NrbWA7rD0c1l95W0Gr"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "same-origin"